.container {
  height: 100%;

  .drawer,
  .drawer-overlay {
    z-index: 6;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
  .drawer {
    background-color: #cec;
    width: 20vw;
    transition: transform .3s ease-out;
    transform: translateX(120vw);
  }
  .drawer-overlay {
    width: 100vw;
    background-color: rgba(0, 0, 0, .4);
    transition: opacity .3s ease-out;
    opacity: 0;
    pointer-events: none;
  }
}

.nav-drawer_open {
  .drawer {
    transform: translate(80vw);
    box-shadow: 2px 0 20px 6px rgba(0, 0, 0, 0.3);
  }
  .drawer-overlay {
    opacity: 1;
    pointer-events: all;
  }
}
