section.quick-pivot{

	.Select{
		margin-top: -8px;
		margin-left: 10px;
		margin-bottom: 8px;
	}
	.pivot-options{
		height: 150px;
		width: 100%;
		display: inline-block;

		.selectors-container{
			width: 25%;
			display: inline-block;
			float: left;

			@media (min-width: 768px){width: 100%}
			@media (min-width: 992px){width: 100%}
			@media (min-width: 1220px){width: 100%}

			.select-container{
				width: 100%;
				display: inline-block;

				@media (min-width: 768px){width: 200px}
				@media (min-width: 992px){width: 200px}
				@media (min-width: 1220px){width: 200px}
			}
		}

		.fields-drag-container{
			width: 75%;
			float: left;

			@media (min-width: 768px){width: 100%}
			@media (min-width: 992px){width: 100%}
			@media (min-width: 1220px){width: 100%}

			.fields{
				height: 46px;
				width: 33%;
				display: inline-block;
				float: left;
			}

			.rows{
				height: 46px;
				width: 33%;
				display: inline-block;
				float: left;
			}

			.columns{
				height: 46px;
				width: 33%;
				display: inline-block;
				float: left;
			}
		}
	}

	.title {
		color: #fff;
		padding: 3px 10px;
		margin-left: 5px;
		display: inline-block;
		position: relative;
		background-color: #FF7373;
		z-index: 1000;
	}

	.block__list {
		height: 119px;
	  margin-top: -8px;
	  margin-left: 10px;
	  background-color: #fff;
		overflow-y: auto;

		@media (min-width: 768px){height: 76px;}
		@media (min-width: 992px){height: 76px;}
		@media (min-width: 1220px){height: 76px;}
	}
	.block__list-title {
	  margin: -20px 0 0;
	  padding: 10px;
	  text-align: center;
	  background: #5F9EDF;
	}
	.block__list li {
		cursor: move;
		list-style: none;
	}

	.block__list_words li {
	  background-color: #fff;
	  padding: 10px 40px;
	}
	.block__list_words .sortable-ghost {
	  opacity: 0.4;
	  background-color: #F4E2C9;
	}

	.block__list_tags {
	  padding-left: 15px;

		@media (min-width: 768px){padding-left: 30px;}
		@media (min-width: 992px){padding-left: 30px;}
		@media (min-width: 1220px){padding-left: 30px;}
	}

	.block__list_tags:after {
	  clear: both;
	  content: '';
	  display: block;
	}
	.block__list_tags li {
	  color: #fff;
	  float: left;
	  margin: 8px 20px 10px 0;
	  padding: 5px 10px;
	  min-width: 10px;
	  background-color: #5F9EDF;
	  text-align: center;
	}

	section.pivot-grid{
	  padding-top: 1rem;
	  flex: 1 0 auto;
	  display: flex;
	  flex-direction: column;
	  background-color: #fff;
	  padding: 0 1rem 1rem;
	  overflow: auto;
	  background: #fff;

	  .GridRow {
	    position: relative;
	    display: flex;
	    flex-direction: row;
	  }
	  .GridColumn {
	    display: flex;
	    flex-direction: column;
	    flex: 1 1 auto;
	  }
	  .LeftSideGridContainer {
	    flex: 0 0 75px;
	    z-index: 10;
	  }

	  .LeftSideGrid {
	    overflow: hidden !important;
	    background-color: rgb(188, 57, 89);
	  }
	  .HeaderGrid {
	    width: 100%;
	    overflow: hidden !important;
	    background-color: rgb(51, 51, 51);
	  }
	  .BodyGrid {
	    width: 100%;
	    background-color: rgb(120, 54, 70);
	  }

	  .evenRow {
	  }

	  .oddRow {
	    background-color: rgba(0, 0, 0, .1);
	  }

	  .cell,
	  .headerCell,
	  .leftCell {
	    width: 100%;
	    height: 100%;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    text-align: center;
	    padding: 0 .5em;
	  }
	  .headerCell,
	  .leftCell {
	    font-weight: bold;
	  }
	}

	.filter-button{
		font-size: 20px;
		width: 50px;
		height: 50px;
	}

	.filter-menu{
		position: absolute;
		width: 100px;
		height: 100px;
		background-color: #fff;
		z-index: 11;
		color: black;
	}
}
