section.virtualized-table{
	.Select{
		margin-top: -8px;
		margin-left: 10px;
		margin-bottom: 8px;
	}

	.title {
		color: #fff;
		padding: 2px 4px;
		font-size: 11px;
		margin-left: 5px;
		display: inline-block;
		position: relative;
		background-color: #FF7373;
		z-index: 1;
	}

	.ReactVirtualized__Grid__innerScrollContainer {
		overflow: visible !important;
	}

	section.pivot-grid{
	  padding-top: 1rem;
	  flex: 1 0 auto;
	  display: flex;
	  flex-direction: column;
	  background-color: #fff;
	  padding: 0 1rem 1rem;
	  overflow: auto;
	  background: #fff;

	  .GridRow {
	    position: relative;
	    display: flex;
	    flex-direction: row;
	  }
	  .GridColumn {
	    display: flex;
	    flex-direction: column;
	    flex: 1 1 auto;
	  }
	  .LeftSideGridContainer {
	    z-index: 1;
	  }

	  .LeftSideGrid {
	    overflow: hidden !important;
	  }
	  .HeaderGrid {
	    width: 100%;
	    overflow: hidden !important;
	  }
	  .BodyGrid {
	    width: 100%;
	  }

		.cell-text-container{
			height: 100%;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			overflow: hidden;

			.arrow{
				display: inline-block;
			}
			div.cell-data{
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				flex-wrap: no-wrap;
				line-height: 10px;
				white-space: nowrap;
			}

			div.body-cell-data {
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				flex-wrap: no-wrap;
				line-height: 10px;
				white-space: nowrap;
			}
		}

	  .cell,
	  .header-cell,
	  .leftCell {
	    width: calc(100% - 4px);
	    height: 100%;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    text-align: center;
	    padding: 0 .5em;
	    overflow-x: visible;
	  }

	  .header-cell {
	  	justify-content: flex-start;
	  }

	  .header-container {
	  	display: flex;
	  	justify-content: space-between;
	  	overflow: hidden;
	  }
  	.column-sizer {
  		width: 4px;
  		height: 100%;
  		cursor: col-resize;
  		transform: translate(0px, 0px) !important;
  	}

	  .header-cell,
	  .leftCell {
	    font-weight: bold;
	  }
	}

	.inner-filter-container{
		position: relative;
		padding: 5px 10px 5px 5px;

		.filter-text{
			font-size: 11px;
		}

		.filter-button{
			position: absolute;
			font-size: 10px;
			display: inline-block;
			cursor: pointer;
			top: 0px;
			right: 1px;
		}
	}

	.filter-menu{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #fff;
    z-index: 2;
    color: black;

		.filters-container{
			height: 80px;
			padding: 1px;
			border-left: 1px solid black;
			border-right: 1px solid black;
			border-top: 1px solid black;
			box-sizing: content-box;

			.filter-container{
				font-size: 11px;
				margin-top: 3px;
				height: 20px;
				float: left;
				text-align: left;
				width: 100%;
				.filter-name{
					display: inline-block;
				}
				.filter-checkbox{
					display: inline-block;
				}
			}
		}
  }
	.filter-submit{
		font-size: 11px;
		border-top: 1px solid black;
		height: 20%;
		line-height: 1.7;
		background-color: #5F9EDF;
		cursor: pointer;
		border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    color: white;
	}
}
