img.github-fork {
  z-index: 5;
  position: absolute;
  top: 0;
  right: 0;

  @media (max-width: 480px) {
    width: 100px;
    height: 100px;
  }

}

body {
	background: #ece7e7;
}

body, html, #app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-size: 12px;
  color: #272727;
  box-sizing: border-box;
}

a {
  color: #409890;
}
* {
  font-size: inherit;
  box-sizing: inherit;
}

.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
	z-index: 1;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #000;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #000;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #000;
}
.app-menu{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
	.select-container{
		width: 200px;
		display: inline-block;
		float: left;
    @media (max-width: 400px) {
      width: calc(50% - 10px);
      margin-right: 5px;
      margin-left: 5px;
    }
		@media (min-width: 768px){width: 200px}
		@media (min-width: 992px){width: 200px}
		@media (min-width: 1220px){width: 200px}

		.Select{
			margin-top: -8px;
			margin-left: 10px;
			margin-bottom: 8px;
			z-index: 3;

			.Select-control {
		    height: 20px;

		    .Select-placeholder {
		      line-height: 20px;
		    }

		    .Select-value {
		      line-height: 20px !important;

		      .Select-value-label {
		        line-height: 30px;
		      }
		    }
		    .Select-input {
		      height: 26px;
		    }
				.Select-arrow-zone{
					vertical-align: inherit;
					top: 4px;
				}
		  }
		}
		.title {
			color: #fff;
			padding: 2px 4px;
			font-size: 11px;
			margin-left: 5px;
			display: inline-block;
			position: relative;
			background-color: #FF7373;
			z-index: 4;
		}
	}

	.input{
		display: inline-block;
	}
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
